---

---

<html lang="en">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" href="/icon.png" />
      <meta name="viewport" content="width=device-width" />
      <meta name="generator" content={Astro.generator} />
      <title>a</title>
   </head>
   <body x-data>
      <h1>si</h1>
      <button @click="console.log(123)">asdf</button>
   </body>
</html>
