[x-cloak]{display: none;}

body {
     color: var(--body-txt);
     font-family: sans-serif;
     background: var(--body-bg);
     display: flex;
     align-items: center;
     flex-direction: column;
     & > div {
          max-width: 543px;
     }
}

h1 {
     text-align: center;
}

.card {
     border-radius: var(--card-corner);
     padding: 13px;
     background: var(--card-background);
}

code {
     color: var(--active);
     background: white;
     border-style: solid;
     border-width: 1px;
     border-radius: 3px;
     border-color: var(--active);
     padding: 0px 5px;
}
