/*:root {
     --body-bg: lightgray;
     --body-txt: black;
     --card-corner: 7px;
     --card-background: white;
     --card-txt: black;
     --button-border: black;
     --button-border-on: red;
     --button-bg: green;
     --button-bg-on: darkgreen;
     --button-txt: white;
     --resaltado-txt: white;
     --resaltado-bg: darkgreen;
}
*/
:root {
     --body-bg: #dedede;
     --body-txt: #172516;
     --card-corner: 7px;
     --card-background: #f0f4f0;
     --card-txt: var(--body-txt);
     --button-border: var(--body-txt);
     --button-border-on: #f392c0;

/*     --button-bg: #2e492c;*/
/*     --button-bg-on: #a7b79f;*/
/*     --button-txt: white;*/

     --button-bg: #a7b79f;
     --button-bg-on: #2e492c;
     --button-txt: black;

     --resaltado-txt: var(--body-txt);
     --resaltado-bg: #c5d6c2;
}
