---
import './css/Buttons.css';
---

<div class="buttons">
   <div class="button" @click="help = !help">Instrucciones</div>

   <div class="button" @click="console.log(await ejecuta('abrir-xlsx'))">Abrir XLSX</div>

   <div class="button" @click="
      let response = await ejecuta('cargar-xlsx');
      console.log(response);
      reports = response.total_files;
   ">Cargar reportes</div>

   <div class="button" @click="
      let response = await ejecuta('kensten');
      console.log(response);
      discarded = response.discarded.length;
      formatted = response.formatted;
   ">Ejecutar Kensten</div>
</div>
