<h2>
   Estado de reportes
</h2>
<div class="bar">
  <div>Cargados: <span x-text="reports"></span></div>
  <div>Descartados: <span x-text="discarded"></span></div>
  <div>Formateados: <span x-text="formatted"></span></div>
</div>

<style>
   .bar {
      display: flex;
      justify-content: space-evenly;
      background: var(--card-background);
      border-radius: var(--card-corner);
      padding: 7px;
   }
</style>
